#Footer {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seccionFooter {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

#seccionFooterSuperior {
    background-color: rgb(4, 50, 77);
}

#seccionFooterSuperior aside,
.contenedorSeccionFooterSuperior {
    padding: 10px;
}

.contenedorSeccionFooterSuperior {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.subContenedorSeccionFooterSuperior {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.subContenedorSeccionFooterSuperior div {
    border-radius: 2.5px;
    height: 10px;
    margin: 10px;
    width: 10px;
}

#cuadroSubContenedorSeccionFooterSuperior0 {
    background-color: rgb(198, 23, 32);
}

#cuadroSubContenedorSeccionFooterSuperior1 {
    background-color: rgb(1, 99, 12);
}

#cuadroSubContenedorSeccionFooterSuperior2 {
    background-color: rgb(62, 99, 0);
}

#cuadroSubContenedorSeccionFooterSuperior3 {
    background-color: rgb(153, 0, 1);
}

#cuadroSubContenedorSeccionFooterSuperior4 {
    background-color: rgb(64, 14, 152);
}

#cuadroSubContenedorSeccionFooterSuperior5 {
    background-color: rgb(56, 23, 12);
}

#cuadroSubContenedorSeccionFooterSuperior6 {
    background-color: rgb(21, 30, 153);
}

#cuadroSubContenedorSeccionFooterSuperior7 {
    background-color: rgb(83, 20, 0);
}

#cuadroSubContenedorSeccionFooterSuperior8 {
    background-color: rgb(83, 20, 0);
}

#cuadroSubContenedorSeccionFooterSuperior9 {
    background-color: rgb(14, 62, 153);
}

#cuadroSubContenedorSeccionFooterSuperior10 {
    background-color: rgb(92, 131, 1);
}

#cuadroSubContenedorSeccionFooterSuperior11 {
    background-color: rgb(43, 19, 153);
}

#cuadroSubContenedorSeccionFooterSuperior12 {
    background-color: rgb(153, 98, 1);
}

#cuadroSubContenedorSeccionFooterSuperior13 {
    background-color: rgb(30, 115, 115);
}

#cuadroSubContenedorSeccionFooterSuperior14 {
    background-color: rgb(153, 41, 0);
}

#cuadroSubContenedorSeccionFooterSuperior15 {
    background-color: rgb(59, 153, 0);
}

#cuadroSubContenedorSeccionFooterSuperior16 {
    background-color: rgb(145, 145, 145);
}

#cuadroSubContenedorSeccionFooterSuperior17 {
    background-color: rgb(153, 0, 1);
}

.enlaceSubContenedorSeccionFooterSuperior {
    color: rgb(255, 255, 255);
    font-size: 0.75rem;
    text-decoration: none;
    text-align: left;
}

.enlaceSubContenedorSeccionFooterSuperior:hover {
    text-decoration: underline;
}

.enlaceSubContenedorSeccionFooterSuperior:focus {
    outline: none;
    text-decoration: underline;
}

#seccionFooterMedia {
    background-color: rgb(57, 169, 0);
}

#contenidoSeccionFooterMedia p,
#contenidoSeccionFooterMedia a {
    color: rgb(255, 255, 255);
    display: block;
    font-size: 0.75rem;
    margin: 2.5px;
    text-align: left;
}

#contenidoSeccionFooterMedia a:hover {
    outline: none;
    font-weight: 800;
}

#contenidoSeccionFooterMedia a:focus {
    outline: none;
    font-weight: 800;
}

#seccionFooterInferior {
    background-color: rgb(51, 102, 204);
    justify-content: flex-start;
}

#seccionFooterInferior img {
    height: 25px;
}