#administracionHeader {
  align-content: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 2.5vh;
  position: absolute;
  top: 0px;
  width: 100%;
}

.seccionAdministracionHeader {
  align-content: center;
  border-bottom: 2px solid rgb(4, 50, 77);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.seccionAlternativaAdministracionHeader {
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.navegacionSeccionAdministracionHeader {
  align-content: center;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 30%;
}

.navegacionSeccionAlternativaAdministracionHeader {
  align-content: center;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 30%;
}

.navegacionSeccionAlternativa4AdministracionHeader,
.navegacionSeccionAlternativa6AdministracionHeader {
  align-content: center;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 30%;
  width: 30%;
}

.navegacionSeccionAlternativa5AdministracionHeader {
  align-content: center;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 60%;
  width: 30%;
}

.navegacionSeccionAdministracionHeader button {
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  padding: 10px;
  width: 100%;
}

.navegacionSeccionAlternativaAdministracionHeader button,
.navegacionSeccionAlternativaAdministracionHeader a {
  background-color: transparent;
  border-radius: 0px 0px 10px 10px;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  padding: 10px;
  width: 50%;
}

.navegacionSeccionAlternativa4AdministracionHeader button {
  background-color: transparent;
  border-radius: 0px 0px 10px 10px;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  padding: 10px;
  width: 50%;
}

.navegacionSeccionAlternativa5AdministracionHeader button,
.navegacionSeccionAlternativa6AdministracionHeader button {
  background-color: transparent;
  border-radius: 0px 0px 10px 10px;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  padding: 10px;
  width: 100%;
}

.navegacionSeccionAlternativaAdministracionHeader a {
  background-color: rgb(4, 50, 77);
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.navegacionSeccionAdministracionHeader button:hover,
.navegacionSeccionAdministracionHeader button:focus {
  background-color: rgb(57, 169, 0);
  border-radius: 10px 10px 0px 0px;
  cursor: pointer;
  outline: none;
}

.navegacionSeccionAlternativaAdministracionHeader button:hover,
.navegacionSeccionAlternativaAdministracionHeader button:focus,
.navegacionSeccionAlternativaAdministracionHeader a:hover,
.navegacionSeccionAlternativaAdministracionHeader a:focus {
  background-color: rgb(57, 169, 0) !important;
  border-radius: 0px 0px 10px 10px;
  cursor: pointer;
  outline: none;
}

#administracionPrincipal {
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
}

#administracionAlternativaPrincipal {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 100px;
  min-height: 96.5vh;
  padding: 10px;
}

.administracionAlternativaFormularioPrincipal {
  align-content: stretch !important;
  align-items: stretch !important;
  justify-content: center !important;
  margin-top: 41px !important;
  padding: 0px !important;
}

.tituloAdministracionPrincipal {
  color: rgb(57, 169, 0);
  font-size: 2rem;
  margin: 0px;
  text-align: left;
}

.parrafoAdministracionPrincipal {
  font-size: 1rem;
  margin: 0px;
  text-align: left;
}

.AdministracionContenido {
  align-content: center;
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
  box-sizing: content-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10px;
  padding: 10px;
  max-width: 500px;
}

.AdministracionContenido:hover {
  outline: 2px solid rgb(57, 169, 0);
}

.AdministracionContenidoSeleccionado {
  align-content: center;
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
  box-sizing: content-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  outline: 2px solid rgb(57, 169, 0);
  padding: 10px;
  max-width: 500px;
}

.articuloAdministracionContenido {
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

#nombreArticuloAdministracionContenido {
  background-color: transparent;
  border: none;
  color: rgb(57, 169, 0);
  font-size: 1.25rem;
  font-weight: 800;
  margin: 0px 0px 10px;
  padding: 5px 5px 5px 0px;
  pointer-events: none;
  text-align: center;
  width: 100%;
}

#nombreArticuloAlternativoAdministracionContenido {
  border: none;
  color: rgb(0, 0, 0);
  font-size: 1.25rem;
  margin: 0px 0px 10px;
  padding: 5px 5px 5px 0px;
  width: 100%;
}

.articuloAdministracionContenido fieldset {
  align-content: flex-start;
  border: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0px;
  padding: 0px;
}

.articuloAdministracionContenido fieldset h2 {
  color: rgb(57, 169, 0);
  font-size: 1.25rem;
  margin: 0px;
  text-align: left;
}

.articuloAdministracionContenido fieldset input {
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  padding: 5px 5px 5px 0px;
  pointer-events: none;
  width: 100%;
}

.articuloAlternativoAdministracionContenido fieldset input,
#nombreArticuloAlternativoAdministracionContenido {
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(4, 50, 77);
  border-radius: 2.5px 2.5px 0px 0px;
  pointer-events: all;
}

#fechaCreacionArticuloAdministracionContenido {
  background-color: transparent;
  border: none;
  pointer-events: none;
}

.pieAdministracionContenidoSeleccionado {
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.botonPieAdministracionContenidoSeleccionado {
  background-color: rgb(4, 50, 77);
  border: none;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 10px;
  min-width: 30%;
}

.botonPieAdministracionContenidoSeleccionado:focus,
.botonPieAdministracionContenidoSeleccionado:hover {
  background-color: rgb(57, 169, 0);
  outline: none;
}

#administracionAlternativaPrincipalAlternativa {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 100px;
  min-height: 96.5vh;
  padding: 10px;
}

.administracionAlternativaFormularioPrincipalAlternativa {
  align-content: stretch !important;
  align-items: stretch !important;
  justify-content: center !important;
  margin-top: 41px !important;
  padding: 0px !important;
}

.AdministracionAlternativaContenido {
  align-content: center;
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  width: 90%;
}

.AdministracionAlternativaContenido:hover {
  outline: 2px solid rgb(57, 169, 0);
}

.AdministracionAlternativaContenidoSeleccionado {
  align-content: center;
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  outline: 2px solid rgb(57, 169, 0);
  padding: 10px;
  width: 90%;
}

.articuloAdministracionAlternativaContenido {
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.articuloAdministracionAlternativaContenido0 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
}

.articuloAdministracionAlternativaContenido1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

#nombreArticuloAdministracionAlternativaContenido {
  background-color: transparent;
  border: none;
  color: rgb(57, 169, 0);
  font-size: 1.25rem;
  font-weight: 800;
  margin: 0px 0px 10px;
  padding: 5px 5px 5px 0px;
  pointer-events: none;
  text-align: center;
  width: 100%;
}

#nombreArticuloAlternativoAdministracionAlternativaContenido {
  border: none;
  color: rgb(0, 0, 0);
  font-size: 1.25rem;
  margin: 0px 0px 10px;
  padding: 5px 5px 5px 0px;
  width: 100%;
}

.articuloAdministracionAlternativaContenido fieldset {
  align-content: flex-start;
  border: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0px;
  padding: 0px;
  width: 100%;
}

.articuloAdministracionAlternativaContenido fieldset h2,
.AdministracionAlternativaContenido h2,
.AdministracionAlternativaContenidoSeleccionado h2 {
  color: rgb(57, 169, 0);
  font-size: 1.25rem;
  margin: 0px;
  text-align: left;
}

.articuloAdministracionAlternativaContenido fieldset input,
.articuloAdministracionAlternativaContenido fieldset textarea {
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  padding: 5px 5px 5px 0px;
  pointer-events: none;
  width: 100%;
}

.articuloAlternativoAdministracionAlternativaContenido fieldset input,
.articuloAlternativoAdministracionAlternativaContenido fieldset textarea,
#nombreArticuloAlternativoAdministracionAlternativaContenido {
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(4, 50, 77);
  border-radius: 2.5px 2.5px 0px 0px;
  pointer-events: all;
}

#administradorArticuloAdministracionAlternativaContenido {
  background-color: transparent;
  border: none;
}

.subSeccionArticuloAdministracionAlternativaContenido {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.pieAdministracionAlternativaContenidoSeleccionado {
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.botonPieAdministracionAlternativaContenidoSeleccionado {
  background-color: rgb(4, 50, 77);
  border: none;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 10px;
  min-width: 30%;
}

.botonPieAdministracionAlternativaContenidoSeleccionado:focus,
.botonPieAdministracionAlternativaContenidoSeleccionado:hover {
  background-color: rgb(57, 169, 0);
  outline: none;
}

.imagenArticuloAdministracionAlternativaContenido {
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.imagenArticuloAdministracionAlternativaContenido img {
  border-radius: 10px;
  max-width: 250px;
  width: 100%;
}

#formularioAdministracionCrear,
#alertaAdministracionCrear {
  align-content: center;
  align-items: flex-start;
  background-color: rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 55%;
  padding: 79px 10px 10px 10px;
}

#alertaAdministracionCrear {
  align-items: center;
}

#alertaAdministracionCrear h1 {
  color: rgb(57, 169, 0);
  font-size: 1.5rem;
  text-align: center;
}

#alertaAdministracionCrear p {
  font-size: 1rem;
  text-align: center;
}

.seccionFormularioAdministracionCrear {
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.subSeccionFormularioAdministracionCrear {
  align-content: stretch;
  border: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px;
  padding: 10px 0px;
  width: 100%;
}

.subSeccionFormularioAdministracionCrear label {
  color: rgb(57, 169, 0);
  font-size: 1rem;
}

.subSeccionFormularioAdministracionCrear input {
  border: none;
  border-radius: 10px;
  padding: 5px;
  width: 100%;
}

.subSeccionFormularioAdministracionCrear input:focus {
  outline-color: rgb(57, 169, 0);
}

.seccionAlternativaFormularioAdministracionCrear p {
  font-size: 1rem;
  margin: 0px;
}

.seccionAlternativaFormularioAdministracionCrear span {
  color: rgb(57, 169, 0);
}

.botonSeccionAlternativaFormularioAdministracionCrear,
#alertaSuperadministradorCrearAdministrador button {
  border: none;
  border-radius: 10px;
  background-color: rgb(4, 50, 77);
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 10px;
}

.botonSeccionAlternativaFormularioAdministracionCrear:focus,
#alertaSuperadministradorCrearAdministrador button:focus,
.botonSeccionAlternativaFormularioAdministracionCrear:hover,
#alertaSuperadministradorCrearAdministrador button:hover {
  background-color: rgb(57, 169, 0);
  outline: none;
}

.subSeccionFormularioAdministracionCrearError {
  color: rgb(0, 0, 0) !important;
  bottom: 15px;
  position: relative;
  text-align: right;
}

.subSeccionFormularioAdministracionCrearErrorAlternativa {
  bottom: 45px;
}

.subSeccionFormularioAdministracionCrearErrorAlternativa2 {
  bottom: 25px;
  display: block;
  text-align: right;
}

.ventanaPieAdministracionContenidoSeleccionado {
  align-content: center;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(57, 169, 0);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
  overflow: auto;
  padding: 10px;
  position: relative;
  width: 500px;
}

.AdministracionAlternativa2Contenido {
  align-content: center;
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  width: 100%;
}

.AdministracionAlternativa2Contenido h2,
h3 {
  color: rgb(57, 169, 0);
  margin: 0px;
  text-align: left;
}

.AdministracionAlternativaContenido2Seleccionado {
  align-content: center;
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  outline: 2px solid rgb(57, 169, 0);
  padding: 10px;
  width: auto;
}

.AdministracionAlternativaContenido2Seleccionado h2 {
  color: rgb(57, 169, 0);
  margin: 0px;
  text-align: left;
}

.articuloAdministracionAlternativa2Contenido {
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.articuloAdministracionAlternativa2Contenido0 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
}

.contenidoArticuloAdministracionAlternativa2Contenido {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  margin: 0px;
}

.articuloAdministracionAlternativa2Contenido1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 40%;
}

.imagenArticuloAdministracionAlternativa2Contenido {
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.imagenArticuloAdministracionAlternativa2Contenido img {
  border-radius: 10px;
  max-width: 250px;
  width: 100%;
}

.pieAdministracionAlternativa2ContenidoSeleccionado {
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.botonPieAdministracionAlternativa2ContenidoSeleccionado {
  background-color: rgb(4, 50, 77);
  border: none;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 10px;
  min-width: 30%;
}

.botonPieAdministracionAlternativa2ContenidoSeleccionado:focus,
.botonPieAdministracionAlternativa2ContenidoSeleccionado:hover {
  background-color: rgb(57, 169, 0);
  outline: none;
}

@media (max-width: 630px) {
  .navegacionSeccionAdministracionHeader,
  .navegacionSeccionAlternativaAdministracionHeader {
    border-radius: 0px;
    width: 100%;
  }

  .navegacionSeccionAlternativaAdministracionHeader {
    border: none;
  }

  .navegacionSeccionAlternativa4AdministracionHeader {
    margin-left: 0px;
    width: 100%;
  }

  .navegacionSeccionAlternativa5AdministracionHeader {
    margin-left: 0px;
    width: 100%;
  }

  .navegacionSeccionAlternativa6AdministracionHeader {
    margin-left: 0px;
    width: 100%;
  }

  .navegacionSeccionAdministracionHeader button:hover,
  .navegacionSeccionAdministracionHeader button:focus {
    border-radius: 0px;
  }

  .navegacionSeccionAlternativaAdministracionHeader button:hover,
  .navegacionSeccionAlternativaAdministracionHeader button:focus {
    border-radius: 0px 0px 10px 10px;
  }

  .articuloAdministracionAlternativaContenido {
    flex-direction: column;
  }

  .articuloAdministracionAlternativaContenido0 {
    width: 100%;
  }

  .articuloAdministracionAlternativaContenido1 {
    width: 100%;
  }

  #administracionAlternativaPrincipalAlternativa {
    margin-top: 160px;
  }

  .administracionAlternativaFormularioPrincipalAlternativa {
    margin-top: 160px !important;
  }

  .administracionAlternativaFormularioPrincipalAlternativa2 {
    margin-top: 50px !important;
  }

  #administracionAlternativaPrincipal {
    justify-content: center;
  }

  #formularioAdministracionCrear,
  #alertaSuperadministradorCrearAdministrador {
    width: 100%;
  }
  .pieAdministracionAlternativaContenidoSeleccionado {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .subSeccionFormularioAdministracionCrearError {
    bottom: 0px;
  }
}
