/* ESTILOS DE TRANSICIÓN */
/* Estilos */
#formularioTransicion {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  width: 100%;
}
